// Menu
.header-nav {

	display: flex;
	position: absolute;
	top: 70px;
	right: -100vw;
	transition: 0.3s all;
	background-color: $white;
	height: calc( 100vh - 80px );
	border-top: 1px solid $color--border-fieldset;
	width: 100vw;
	z-index: 1;

	&.menu-visible {
		right: 0;
	}


	@media only screen and ( min-width: $desktop ) {
		align-items: center;
		display: flex;
	}

	.header-nav__wrap {
		display: flex;
		flex-direction: column;

		@media only screen and ( min-width: $desktop ) {
			flex-direction: row;
			align-items: center;
		}
	}

	// Submenu
	.header-nav__submenu {
		display: none;
		position: absolute;
		top: 28px;
		left: 0;
		padding: 10px;
		width: 200px;
		border: 1px solid #ddd;
		box-shadow: 2px 2px 2px #f8f8f8;
		& > li {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}

	// Main menu
	.header-nav__menu-item {
		padding: 4px 16px;
		color: #757575;
		position: relative;

		&:last-child {
			border: 2px solid $color__menu-border;
			border-radius: 45px;
		}

		&:hover .header-nav__submenu{
			display: block;
		}
	}
}
