
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px;

	// Nav button
	.header-nav__menu-btn {
		display: block;
		font-size: 28px;
		cursor: pointer;
	}
}

.logo-section {
	display: flex;

	.site-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.site-title {
		font-size: 18px;
		font-weight: 800;
	}

	.site-description {
	}
}
