
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px;

	// Nav button
	.header-nav__menu-btn {
		display: block;
		font-size: 28px;
		cursor: pointer;

		@media only screen and ( min-width: $desktop ) {
			display: none;
		}
	}
}

.logo-section {
	display: flex;

	.site-logo {
		min-width: 50px;
		height: 50px;
		margin-right: 8px;
	}

	.site-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.site-title {
		font-size: 18px;
		font-weight: 800;
		white-space: nowrap;
		margin-bottom: 10px;
	}

	.site-description {
		white-space: nowrap;
	}
}
